<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716861651082-dmj2vrohrv0jq3kufqgmpckcb9s2i5ph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716861651082-dmj2vrohrv0jq3kufqgmpckcb9s2i5ph</string>
	<key>API_KEY</key>
	<string>AIzaSyAcboq-aaWrmE8fexT1dAkg0s_R9_K-0jE</string>
	<key>GCM_SENDER_ID</key>
	<string>716861651082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helpClosingFrontend</string>
	<key>PROJECT_ID</key>
	<string>cpastone-cau-helpclosing</string>
	<key>STORAGE_BUCKET</key>
	<string>cpastone-cau-helpclosing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716861651082:ios:77cfb4a5da42af3248d573</string>
	<key>DATABASE_URL</key>
	<string>https://cpastone-cau-helpclosing-default-rtdb.firebaseio.com</string>
</dict>
</plist>